/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

body::-webkit-scrollbar
    width: 8px;     /* Tamaño del scroll en vertical */

body::-webkit-scrollbar-thumb 
    background: #2e60af	;
    border-radius: 4px;


body::-webkit-scrollbar-thumb:hover 
    background: #174ea6	;

body::-webkit-scrollbar-thumb:active 
    background-color: #174ea6;

body::-webkit-scrollbar-track 
    background: #a2b8db;

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active 
  background: #8ba7d3;