/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: yellow;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

-webkit-scrollbar-thumb:active {
    background-color: #999999;
}